<div id="main-container">    
    <h1>Database manager</h1>
    <div id="filter-container" class="basic-container">
        <div class="input-tag-header-div">
            <h2>Input tags</h2>
            
        </div>
        <div class="output-tag-header-div">
            <h2>Output tags</h2>
            <!-- <div class="dropdown">
                <button class="dropbtn">{{selectedSort}}</button>
                <div class="dropdown-content">
                  <a (click)="changeSort('Time')">Time</a>
                </div>
            </div> -->
        </div>
        <div class="add-tag-div">
            <mat-icon class="add-button dark-blue" >add_circle_outline</mat-icon>
            <h2 style="scale: 0.9;" class="dark-blue">Add new tag</h2>
        </div>
        <!-- <button class="outline-btn" (click)="generate()">Generate report</button> -->
    </div>

    <div id="additional-filters" class="basic-container" *ngIf="">
        <!-- <div class="dropdown" *ngIf="selectedCriteria=='Alarms by priority'">
            <button class="dropbtn">{{selectedAlarmPriority}}</button>
            <div class="dropdown-content">
              <a (click)="changeSelectedAlarmPriority('Low')">Low</a>
              <a (click)="changeSelectedAlarmPriority('Medium')">Medium</a>
              <a (click)="changeSelectedAlarmPriority('Height')">High</a>
            </div>
        </div> -->

        <!-- <div class="dropdown" *ngIf="selectedCriteria=='Tag by I/O address'">
            <button class="dropbtn">{{selectedTagAddress}}</button>
            <div class="dropdown-content">
              <a (click)="changeSelectedTagAddress('1')">1</a>
              <a (click)="changeSelectedTagAddress('2')">2</a>
              <a (click)="changeSelectedTagAddress('3')">3</a>
            </div>
        </div> -->
        <!-- <form fxLayout="row">
            <mat-form-field appearance="fill">
                <mat-label>Start</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="start" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>End</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="end" >
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                
              </mat-form-field>
        </form> -->
    </div>
</div>