<div id="main-container">    
    <h1>Trending</h1>
          
    <table [dataSource]="inputTags" mat-table class="mat-elevation-z8">

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let tag"> Tag no. {{tag.id}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef> Tag type </th>
            <td mat-cell *matCellDef="let tag"> {{tag.type}} </td>
          </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td mat-cell *matCellDef="let tag"> {{tag.description}} </td>
        </ng-container>

        <ng-container matColumnDef="isScanOn">
          <th mat-header-cell *matHeaderCellDef> Scan </th>
          <td mat-cell *matCellDef="let tag"> {{tag.isScanOn}} </td>
        </ng-container>

        <ng-container matColumnDef="scanTime">
          <th mat-header-cell *matHeaderCellDef> Scan time </th>
          <td mat-cell *matCellDef="let tag"> {{tag.scanTime}} </td>
        </ng-container>

        <ng-container matColumnDef="value">
            <th mat-header-cell *matHeaderCellDef> Current value </th>
            <td mat-cell *matCellDef="let tag"> {{tag.value}} </td>
        </ng-container>
      
        <ng-container matColumnDef="unit">
          <th mat-header-cell *matHeaderCellDef> Unit </th>
          <td mat-cell *matCellDef="let tag"> {{tag.unit}} </td>
        </ng-container>        
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>