<div style="display: flex;
align-items: center;
justify-content: center; height: 100%;">
    <div class="border back-white" id="login-container">
        <div id="form-container">
            <h1>Welcome back!</h1>
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <mat-form-field>
                    <mat-label class="modified-label">Username</mat-label>
                    <input matInput type="text" name="username" formControlName="username" />
                    <mat-error *ngIf="loginForm.get('username')?.errors?.['required']">entering username is required</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <mat-icon id="eye-icon" matSuffix (click)="isVisible = !isVisible">{{isVisible ? 'visibility' : 'visibility_off'}}</mat-icon>
                    <input matInput [type]="isVisible? 'text' : 'password'" name="password" formControlName="password" />
                    <mat-error *ngIf="loginForm.get('password')?.errors?.['required']">entering password is required</mat-error>
                </mat-form-field>
                <button type="submit" class="conf-button back-blue" mat-raised-button>Login</button>
            </form>

        </div>
    </div>
</div>

